<div class="page-header">
	<h1>Setor</h1>
</div>

<p><%= link_to "Novo setor", new_admin_sector_path, class: 'btn btn-sm btn-primary' %></p>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Opções</th>
              </tr>
            </thead>
            <tbody>
	            <% @sectors.each do |sector| %>
              	<tr>
                	<td><%= sector.id %></td>
                	<td><%= sector.name %></td>
                	<td>
                		<%= link_to "Editar", edit_admin_sector_path(sector), class: 'btn btn-sm btn-info' %> 
						<%= link_to "Deletar", admin_sector_path(sector) , data: { method: :delete, confirm: "Deseja exluir?"},class: 'btn btn-sm btn-danger' %>
					</td>
              	</tr>
	            <% end %>
            </tbody>
        </table>
    </div>
</div>