<!DOCTYPE html>
<html>
<head>
  <title>TITULO</title>
  <%= stylesheet_link_tag    "admin/init_application", media: "all" %>
  <%= javascript_include_tag "admin/init_application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Loja</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if params[:controller].include?(:operators.to_s) %>"><%= link_to "Operadores", admin_operators_path %></li>
            <li class="<%= 'active' if params[:controller].include?(:sectors.to_s) %>"><%= link_to "Setores", admin_sectors_path %></li>
            <li class="<%= 'active' if params[:controller].include?(:products.to_s) %>"><%= link_to "Produtos", admin_products_path %></li>
            <li class="<%= 'active' if params[:controller].include?(:categories.to_s) %>"><%= link_to "Categorias", admin_categories_path %></li>
          </ul>
          <div id="navbaruser" class="navbar-right">
            <span class="text-danger"><%= session[:operator_name] %></span>
            <%= link_to "Sair", admin_login_path, method: :delete,class: 'btn btn-sm btn-danger' %>
        </div>
        </div>
        
      </div>
    </nav>
	<div class="content container" role="main">
    <div class="flash">
      <% flash.each do |key,value| %>
        <div class="alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>
		<%= yield %>      
	</div>
</body>
</html>