<div class="container">
    <%= form_tag admin_login_path, class: 'form-horizontal' %>
		<h2 class="form-signin-heading">Login</h2>
        <%= label_tag :Email %>
        <%= text_field_tag :email, params[:email], class: 'form-control', name: 'email',placeholder: "Email" %>
        <%= label_tag :password %>
        <%= text_field_tag :password,nil, class: 'form-control', name:'password', type: 'password', placeholder: "Password" %>
        <%= submit_tag "Entrar",class: "btn btn-lg btn-primary btn-block" %>
</div>